.cat-parent {
    display: flex;
    justify-content: center;
    height: 200vh;
    margin: 0;
  }

  .cart-parent{
    font-size: large;
    font-family: 'Corsiva', 'Courier New', Courier, monospace;
}

  