<div class="container pos-container">
  <div class="row" style="margin: 40px">
    <div
      class="col-lg-3 cart-parent"
      style="max-height: 630px; background-color: antiquewhite"
    >
      <div class="card border-success mb-3" style="max-width: 18rem;margin-top: 5px;">
        <div class="card-header bg-transparent border-success">
         <strong>Billing Item(s)</strong>
          <span class="badge bg-primary rounded-pill">{{ totalItems }}</span>
        </div>
        <div class="text-success overflow-y-scroll" style="height: 430px">
          <app-cart [cartItems]="carts"></app-cart>
        </div>
        <div class="card-footer bg-transparent border-success">
          <div class="row">
            <div class="row">
              <div class="col-sm-6"><strong>Subtotal:</strong></div>
              <div class="col-sm-6">{{ subtotal }}</div>
            </div>
            <div class="row">
              <div class="col-sm-6"><strong>Discount:</strong></div>
              <div class="col-sm-6">{{ discount }}</div>
            </div>
            <div class="row">
              <div class="col-sm-6"><strong>Tax:</strong></div>
              <div class="col-sm-6">{{transformDecimal(tax) }}</div>
            </div>
            <div class="row">
              <div class="col-sm-6"><strong>Total:</strong></div>
              <div class="col-sm-6">{{ total }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-5 row-cols-sm-2 g-4 overflow-y-scroll"
      style="max-height: 600px"
    >
      <app-product
        (selectProduct)="onProductClick($event)"
        [currency]="currencySpecialChar"
        [products]="products"
      ></app-product>
    </div>
    <div class="col-lg-3">
      <app-category
        (selectCategory)="onProductCategoryClick($event)"
        [categories]="categories"
      ></app-category>
    </div>
  </div>
  <div class="row" style="margin: 40px; max-height: 630px; background-color: antiquewhite">
    <div class="col-md-6" style="padding: 20px;">
      <button type="button" class="btn btn-danger btn-large"  (click)="onClearButtonClick()">Clear Order</button>
      <button type="button" class="btn btn-warning btn-large" >Pending Order(s)</button>
      <button type="button" class="btn btn-success btn-large" (click)="onChargeCustomerButtonClick()" >Charge</button>
    </div>
    <div class="col-md-6">Right</div>
  </div>
</div>
<app-charge-customer #chargeCustomerModal
  [subtotal]="subtotal"
  [discount]="discount"
  [tax]="tax"
  [total]="total"
  [carts]="carts"
  *ngIf="isChargeDialogVisible" (close)="hideChargeCustomer()"
  />

