<div class="container">
  <div class="row" style="margin: 40px;">
    <div class="col-lg-3">
        <app-cart [cartItems]="carts"></app-cart>
    </div>
    <div class="col-lg-5">
      <app-product
        (selectProduct)="onProductClick($event)"
        [currency]="currencySpecialChar"
        [products]="products"
      ></app-product>
    
    </div>
    <div class="col-lg-3">
      <app-category
        (selectCategory)="onProductCategoryClick($event)"
        [categories]="categories"
      ></app-category>
    </div>
  </div>
</div>
